/* NavBar (SideBar nossa) */
.sidebar {
    width: 275px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background: var(--corDestaque);
    box-shadow: var(--sombra2);
    padding: 20px 0px;
}

.botao-fechar button {
    position: absolute;
    left: 87%;
    top: 1.5%;
    font-size: 3rem;
    background-color: #ffffff00;
    border: none;
    color: var(--corBordas);
    cursor: pointer;
}


.div-links {
    width: 90%;
    padding: 12px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    border-radius: 5px;
    background: var(--corFundo);
    border: 1px solid var(--corBordas);
    box-shadow: var(--sombra2);
    padding: 20px 0px;
}

.links {
    width: 90%;
    padding: 15px;
    border-radius: 5px;
    font-size: var(--text-lg);
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    color: var(--corBase);
    font-weight: bold;

    &:hover {
        background: var(--corDestaque);
    }
}

.ativo {
    background: linear-gradient(360deg, var(--corDestaque), var(--corBase));
    color: var(--corTxt);
}

.div-configs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.div-configs #tema,
.div-configs #notificacao {
    position: relative;
    left: 28%;
}

.div-configs div {
    display: flex;
    width: 100%;
}

.div-noti {
    border-radius: 50%;
    position: absolute;
    left: 24px;
    top: 24px;
    background: var(--corBase);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--txtClaro);
    font-size: var(--text-base);
    max-width: 26px;
    height: 24px;
}


#notificacao {
    font-size: var(--text-2xl);
    padding: 10px;
    border-radius: 50%;
    border: none;
    color: var(--txtClaro);
    background: none;
    cursor: pointer;
    display: flex;
    position: relative;
    left: 5%;

    &:hover {
        color: var(--txtEscuro);
    }
}



#tema {
    font-size: var(--text-2xl);
    padding: 10px;
    border-radius: 50%;
    border: none;
    color: var(--txtClaro);
    background: none;
    cursor: pointer;
    transition: 0.25s;

    &:hover {
        color: var(--txtEscuro);
        transform: rotate(360deg);
    }
}


@keyframes animTremendo {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(25deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-25deg);
    }

    100% {
        transform: rotate(0deg);
    }

}


@keyframes arrow {
    0% {
        left: 87%;
    }

    25% {
        left: 85%;
    }

    50% {
        left: 87%;
    }

    75% {
        left: 89%;
    }

    100% {
        left: 87%;
    }
}

@keyframes arrowSwapanim {
    from {
        transform: rotate(0%);
    }

    to {
        transform: rotate(360%);
    }
}


@keyframes navbarAnim {
    from {
        width: 275px;
    }

    to {
        width: 0px;
    }
}



@media (max-width: 720px) {
    .sidebar {
        width: 37px;
        overflow: auto;
    }

    .div-links {
        background: none;
        border: none;
        box-shadow: none;
    }

    .links {
        font-size: 0px;
    }

    .links i {
        font-size: var(--text-base);
    }

    .div-configs {
        display: flex;
        justify-content: flex-end;
    }

    .div-configs div i {
        font-size: var(--text-sm);
    }
}