@import url('https://fonts.googleapis.com/css2?family=TASA+Orbiter:wght@400..800&display=swap');

* {
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;

    box-sizing: border-box;
    font-family: "TASA Orbiter", sans-serif;
    transition: all 0.4s ease-in-out;
    outline: none;
}

body {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
}

:root {
    --text-4xl: 48px;
    --text-2xl: 24px;
    --text-xl: 20px;
    --text-lg: 18px;
    --text-base: 16px;
    --text-sm: 14px;

    --corBase: #fc2323;
    --corDestaque: #ba2323;
}

html[data-tema='escuro'] {
    --corFundo2: #0f0f0f;
    --corFundo: #181818;
    --sombra: 0px 0px 5px 7px rgba(20, 20, 20, 0.15);
    --sombra2: 0px 0px 5px 1px rgba(255, 255, 255, 0.15);

    --corTxt: #FFFFFF;
    --corTxt2: #000000;
    --corTxt3: #FFF;

    --corBordas: #e6e6e6;
}

html[data-tema='claro'] {
    --corFundo: #f5f5f5;
    --corFundo2: #ffffff;
    --sombra: 0px 0px 5px 7px rgba(0, 0, 0, 0.1);
    --sombra2: 0px 0px 5px 1px rgba(0, 0, 0, 0.05);

    --corTxt2: #1e1e1e;
    --corTxt: #FFFFFF;
    --corTxt3: #000;

    --corBordas: #cccccc;
}

/* Tela De Login */
.login-bg {
    width: 100%;
    height: 100%;
    background: linear-gradient(98deg, var(--corDestaque), var(--corBase));
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    min-width: 420px;
    height: 620px;
    padding: 5px;
    border-radius: 25px;
    background: var(--corFundo);
    box-shadow: var(--sombra);
}

.login-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.div-img {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
}

.div-inputs-chefe {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-direction: column;
}

.div-input {
    border: 2px solid var(--corDestaque);
    width: 65%;
    padding: 10px;
    border-radius: 5px;
    justify-content: space-around;
    display: flex;
    align-items: center;
    box-shadow: var(--sombra);
    font-size: var(--fontLg);
    color: var(--corDestaque);

    &:focus-within {
        background: var(--corDestaque);
        color: var(--corTxt);
    }

    &:focus-within button {
        color: var(--corTxt);
    }

    &:focus-within .input::placeholder {
        color: var(--corTxt);
    }
}

.div-input button {
    border-radius: 50%;
    cursor: pointer;
    font-size: var(--text-xl);
    background: transparent;
    border: none;
    color: var(--corDestaque);
}

.input {
    padding: 15px;
    background: transparent;
    border-radius: 5px 5px 0px 0px;
    width: 80%;
    border: none;
    outline: none;
    font-weight: bold;
    color: var(--corTxt2);
    border-bottom: 2px solid transparent;

    &::placeholder {
        color: var(--corTxt2);
    }

    &:focus {
        border-color: var(--corBase);
        color: var(--corTxt);
    }
}

.div-btn {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn {
    padding: 6px 15px;
    width: 120px;
    height: 45px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    color: var(--corTxt);
    background: var(--corBase);
    font-size: var(--text-base);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
        background: var(--corDestaque);
    }
}

/* NavBar (SideBar nossa) */
.sidebar {
    width: 275px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background: var(--corFundo2);
    box-shadow: var(--sombra2);
    padding: 40px 0px;
}

.div-links {
    width: 90%;
    padding: 12px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    border-radius: 5px;
    background: var(--corFundo);
    border: 1px solid var(--corBordas);
    box-shadow: var(--sombra2);
}

.links {
    width: 90%;
    padding: 15px;
    border-radius: 5px;
    font-size: var(--text-lg);
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    color: var(--corBase);
    font-weight: bold;

    &:hover {
        background: var(--corDestaque);
    }
}

.ativo {
    background: linear-gradient(360deg, var(--corDestaque), var(--corBase));
    color: var(--corTxt);
}

.div-configs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.div-configs div{
    display: flex;
    width: 100%;
}

#notificacao {
    font-size: var(--text-4xl);
    padding: 10px;
    border-radius: 50%;
    border: none;
    color: var(--corTxt3);
    background: none;
    cursor: pointer;
    display: flex;
    position: relative;

    &:hover {
        color: var(--corBase);
    }
}

.div-noti {
    border-radius: 50%;
    position: absolute;
    left: 40px;
    top: 45px;
    background: var(--corBase);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--corTxt);
    font-size: var(--text-base);
    max-width: 23px;
}

#tema {
    font-size: var(--text-4xl);
    padding: 10px;
    border-radius: 50%;
    border: none;
    color: var(--corTxt3);
    background: none;
    cursor: pointer;

    &:hover {
        rotate: 360deg;
        color: var(--corBase);
    }
}


/* Tela Padrão */
.sec-main {
    width: 100%;
    height: 100%;
    background: var(--corFundo);
    padding-left: 16%;
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3%;
}

.div-header {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px solid var(--corBordas);
    font-size: var(--text-lg);
    color: var(--corTxt3);
    cursor: default;
}

.div-img-header {
    color: var(--corBase);
}

.div-txt-header {
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 10px;
    width: 75px;
    height: 75px;
    font-size: var(--text-4xl);
    color: var(--corBase);
    /* background: linear-gradient(180deg, var(--corBase), var(--corDestaque)); */
    cursor: default;
}

/* Cards da Página Principal dos Guri */
.card-box {
    width: 90%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    padding: 10px;
    width: 31%;
    height: 100%;
    border-radius: 10px;
    background: var(--corFundo2);
    box-shadow: var(--sombra);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 3px solid var(--corBase);

    &:hover {
        background: var(--corBase);
        border-color: var(--corDestaque);
    }
}

.card-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 2px solid var(--corBordas);
    color: var(--corTxt3);
}

.card-info {
    color: var(--corTxt3);
    font-size: var(--text-4xl);
}

/* Tabela */
.div-tabelas {
    width: 90%;
    border-radius: 15px;
    height: 720px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    overflow: auto;
    gap: 20px;
    padding: 20px;
}

.tabela-bg {
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--corFundo2);
    border-radius: 10px;
    overflow: auto;
    position: relative;
    box-shadow: var(--sombra);
}

.tabela-bg table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    overflow: hidden;
    position: absolute;
}

.tabela-bg table thead {
    background: linear-gradient(360deg, var(--corDestaque), var(--corBase));
    color: var(--corTxt);
}

.tabela-bg table thead th {
    padding: 7px;
    min-width: 100px;

}

.tabela-bg table tbody tr {
    height: 30px;
    color: var(--corTxt3);

    &:nth-child(even) {
        background-color: var(--corFundo);
    }

    &:hover {
        background: var(--corDestaque);
        color: var(--corTxt);
    }
}