@import url('https://fonts.googleapis.com/css2?family=TASA+Orbiter:wght@400..800&display=swap');

* {
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;

    box-sizing: border-box;
    font-family: "TASA Orbiter", sans-serif;
    transition: all 0.3s linear;
    outline: none;
}

body {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
}

:root {
    --text-4xl: 48px;
    --text-2xl: 24px;
    --text-xl: 20px;
    --text-lg: 18px;
    --text-base: 16px;
    --text-sm: 14px;

    --corBase: #fc2323;
    --corDestaque: #ba2323;

    /* Esses aqui peguei do Tailwind é Emerald e Sky */
    --confirmar: oklch(76.5% 0.177 163.223);
    --confirmarHover: oklch(59.6% 0.145 163.225);

    --editar: oklch(74.6% 0.16 232.661);
    --editarHover: oklch(58.8% 0.158 241.966);
}

html[data-tema='escuro'] {
    --corFundo2: #0f0f0f;
    --corFundo: #181818;
    --sombra: 0px 0px 5px 7px rgba(20, 20, 20, 0.15);
    --sombra2: 0px 0px 5px 1px rgba(255, 255, 255, 0.15);

    --corTxt: #FFFFFF;
    --corTxt2: #000000;
    --corTxt3: #FFF;

    --corBordas: #e6e6e6;
}

html[data-tema='claro'] {
    --corFundo: #f5f5f5;
    --corFundo2: #ffffff;
    --sombra: 0px 0px 5px 7px rgba(0, 0, 0, 0.1);
    --sombra2: 0px 0px 5px 1px rgba(0, 0, 0, 0.05);

    --corTxt2: #1e1e1e;
    --corTxt: #FFFFFF;
    --corTxt3: #000;

    --corBordas: #cccccc;
}

/* Tela De Login */
.login-bg {
    width: 100%;
    height: 100%;
    background: linear-gradient(98deg, var(--corDestaque), var(--corBase));
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    min-width: 420px;
    height: 620px;
    padding: 5px;
    border-radius: 25px;
    background: var(--corFundo);
    box-shadow: var(--sombra);
}

.login-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.div-img {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
}

.div-msg-erro{
    width: 75%;
    border-radius: 15px 15px 0px 0px;
    padding: 20px;
    color: var(--corTxt);
    font-weight: bold;
    background: var(--corBase);
    text-align: center;
}

.div-inputs-chefe {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-direction: column;
}

.div-input {
    border: 2px solid var(--corDestaque);
    width: 65%;
    padding: 10px;
    border-radius: 5px;
    justify-content: space-around;
    display: flex;
    align-items: center;
    box-shadow: var(--sombra);
    font-size: var(--fontLg);
    color: var(--corDestaque);

    &:focus-within {
        background: var(--corDestaque);
        color: var(--corTxt);
    }

    &:focus-within button {
        color: var(--corTxt);
    }

    &:focus-within .input::placeholder {
        color: var(--corTxt);
    }
}

.div-input button {
    border-radius: 50%;
    cursor: pointer;
    font-size: var(--text-xl);
    background: transparent;
    border: none;
    color: var(--corDestaque);
}

.input {
    padding: 15px;
    background: transparent;
    border-radius: 5px 5px 0px 0px;
    width: 80%;
    border: none;
    outline: none;
    font-weight: bold;
    color: var(--corTxt2);
    border-bottom: 2px solid transparent;

    &::placeholder {
        color: var(--corTxt2);
    }

    &:focus {
        border-color: var(--corBase);
        color: var(--corTxt);
    }
}

.div-btn {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn {
    padding: 6px 15px;
    width: 120px;
    height: 45px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    color: var(--corTxt);
    background: var(--corBase);
    font-size: var(--text-base);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
        background: var(--corDestaque);
    }
}

/* Cards da Página Principal dos Guri */
.card-box {
    width: 90%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    padding: 10px;
    width: 31%;
    height: 100%;
    border-radius: 10px;
    background: var(--corFundo2);
    box-shadow: var(--sombra);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 3px solid var(--corBase);

    &:hover {
        background: var(--corBase);
        border-color: var(--corDestaque);
    }
}

.card-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 2px solid var(--corBordas);
    color: var(--corTxt3);
}

.card-info {
    color: var(--corTxt3);
    font-size: var(--text-4xl);
}

/* Tabela */
.div-tabelas {
    width: 90%;
    border-radius: 15px;
    height: 720px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    overflow: auto;
    gap: 20px;
    padding: 20px;
}

.tabela-bg {
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--corFundo2);
    border-radius: 10px;
    overflow: auto;
    position: relative;
    box-shadow: var(--sombra);
}

.tabela-bg table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    overflow: hidden;
    position: absolute;
}

.tabela-bg table thead {
    background: linear-gradient(360deg, var(--corDestaque), var(--corBase));
    color: var(--corTxt);
}

.tabela-bg table thead th {
    padding: 7px;
    min-width: 160px;

}

.tabela-bg table tbody tr {
    height: 30px;
    color: var(--corTxt3);

    &:nth-child(even) {
        background-color: var(--corFundo);
    }

    &:hover {
        background: var(--corDestaque);
        color: var(--corTxt);
    }
}

.modal-fundo{
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.7);
    z-index: 3;
}
